

body {
    grid-row: row;
    font-size: small;
    font-family: 'monospace' cursive;
    background-color: lavender;
}
.header{
    display:plex;
}

h1 {
    display: flex;
    font-size: large;
    justify-content: end;
    
}
