@font-face {
    font-family: "zantrokeregular";
    src: url("fonts/zantroke-webfont.woff2") format("woff2"), url("fonts/zantroke-webfont.woff");
        format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    grid-row: row;
    font-size: xx-large;
    font-family: 'monospace' cursive;
    background-color: lavender;
}
.img{
    display:flex;
    width:


    
}
.h1 {
    display: grid;
    justify-content: end;
}
