@font-face {
    font-family: "zantrokeregular";
    src: url("fonts/zantroke-webfont.woff2") format("woff2"), url("fonts/zantroke-webfont.woff");
        format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    width: auto;
    margin: 0 auto;
    border-block: none;
}

h1 {
    justify-content: end;
    display: grid;
    font-size: -webkit-xxx-large;
    font-family: sans-serif;
}